* {
    box-sizing: border-box;
}
body {
    padding-top: 84px;
}

.container-fluid {
    background-color: #ededed;
    overflow: hidden;
}

/* Header */
.navbar {
    background-color: #333333 !important;
}
.navbar .navbar-nav > li > a {
    color: #ededed !important;
}
.navbar-brand {
    padding-right: 22px !important;
    border-right: 1px solid #ededed !important;
}
nav .navbar-text {
    color: #ededed !important;
    font-size: larger;
}


/* Footer */
footer {
    padding-top: 10px;
}

.page-footer {
    background-color: #333333 !important;
}

.page-footer > li > a, a:visited, a:active, a::before, a::after, a:default, a:link {
    color: #a5a5a5 !important;
    text-decoration: none;
}

footer i {
    color: #646464;
    margin-left: 20px;
    margin-right: 20px;
}

.footer-copyright {
    background-color: #646464;
    padding: 15px;
    color: #ededed;
}

footer hr {
    width: 100%;
    color: lightgray;
    margin-bottom: 30px;
    background-color: #ededed;
}

footer p {
    color: #ededed;
}

footer #contact-mail-text {
    margin-bottom: 5px;
}

footer .footer-contact {
    margin-bottom: 15px;
}

footer .text-uppercase {
    color: #ededed;
}

/* Connexion */
.contenuConnexion {
    margin: 10% 5% 10% 5%;
}

.inputConnexion {
    width: 100%;
    margin: 2% 0;
    border: 0;
    border-radius: 50px;
    padding: 8px 15px;
}

.interaNoteConnexion {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoConnexion {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.buttonConnexion {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.buttonConnexion input {
    border: 0;
    border-radius: 50px;
    background-color: #333;
    color: #ededed;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 1px;
    padding-left: 1px;
    width: 100%;
}


/* TicTac button */
.tictac {
    width:115px;
    height:165px;
    background-color:white;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tictacHaut {
    width: 100%;
    height: 65%;
    border: 0;
    border-radius: 27px 27px 0 0;

    display: flex;
}
.tictacHaut img {
    width: 80%;
    margin: auto;
    padding-top: 10%;
}
.tictacBas  {
    width: 100%;
    background-color: #333;
    height: 35%;
    border-radius: 0 0 27px 27px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tictacBas a, .tictacBas a:visited {
    color: #ededed !important;
}

/* Accueil élève */
.TicTacAccueil {
    display: flex;
    justify-content: center;

    margin: 3% 0;
}

/* Prof : ListerSujet */
.listerSujet {
    margin: 3% 0;
}
#attributeTo {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.05rem;
    margin-bottom: 2%;
}
.textListeSujet {
    align-self: center;
}
.buttonConsulter input {
    border: 0;
    border-radius: 50px;
    background-color: #333;
    color: #ededed;
    padding-right: 1px;
    padding-left: 1px;
    width: 80%;
    margin-top: 3%;
    cursor: pointer;
}
.contenuListeSujet p {
    margin: 0;
}
.contenuListeSujet {
    margin: 3% 0;
}

/* Page enseignant creer classe */
.createClass {
    margin: 5%;
}
.createClass input {
    min-width: 70%;
    border: 0;
    border-radius: 50px;
    padding: 8px 15px;
}
.importStudent p {
    margin: 0;
}
.importStudent {
    display: flex;
    align-items: center;

    margin-bottom: 10%;
    margin-top: 5%;
}
.importStudent img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.inputNameClass, .inputYearClass {
    margin-bottom: 5%;
}

.listImportStudent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table .thead-dark th {
    border : none !important;
}
.table td , .table th{
    padding-left: 20px !important;
}



@media screen and (min-width: 576px) {
    /* Page Connexion */
    .logoConnexion {
        width: 75%;
        height: 75%;
    }

    /* Page prof lister sujet */
    .buttonConsulter input {
        margin-top: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .contenuListeSujet {
        margin: 2% 0;
    }

}

@media screen and (min-width: 992px) {
    /* Page Connexion */
    .interaNoteConnexion h2 {
        font-size: 2.75rem;
    }
    .buttonConnexion input {
        padding-top: 9px;
        padding-bottom: 9px;
    }

    /* Tictac menu */
    .TicTacAccueil {
        margin: 8% 0;
    }

    /* Page Prof Lister sujets */
    .contenuListeSujet {
        margin: 1% 0;
    }

    /* Page enseignant creer classe */
    .inputNameClass, .inputYearClass {
        margin-bottom: 2%;
    }
    .importStudent {
        margin-bottom: 2%;
        margin-top: 5%;
    }
}
