* {
    box-sizing: border-box;
}
body {
    padding-top: 84px;
}

.container-fluid {
    background-color: #ededed;
    overflow: hidden;
}

/* Header */
.navbar {
    background-color: #333333 !important;
}
.navbar .navbar-nav > li > a {
    color: #ededed !important;
}
.navbar-brand {
    padding-right: 22px !important;
    border-right: 1px solid #ededed !important;
}


/* Footer */
footer {
    padding-top: 5px;
}

.page-footer {
    background-color: #333333 !important;
}

.page-footer > li > a, a:visited, a:active, a::before, a::after, a:default, a:link {
    color: #a5a5a5 !important;
    text-decoration: none;
}

footer i {
    color: #646464;
    margin-left: 20px;
    margin-right: 20px;
}

.footer-copyright {
    background-color: #646464;
    padding: 15px;
    color: #ededed;
}

footer hr {
    width: 100%;
    color: lightgray;
    margin-bottom: 30px;
    background-color: #ededed;
}

footer p {
    color: #ededed;
}

footer #contact-mail-text {
    margin-bottom: 5px;
}

footer .footer-contact {
    margin-bottom: 15px;
}

footer .text-uppercase {
    color: #ededed;
}

/* Connexion */
.contenuConnexion {
    margin: 10% 5% 10% 5%;
}

.inputConnexion {
    width: 100%;
    margin: 2% 0;
    border: 0;
    border-radius: 50px;
    padding: 8px 15px;
}

.interaNoteConnexion {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoConnexion {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.buttonConnexion {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.buttonConnexion input {
    border: 0;
    border-radius: 50px;
    background-color: #333;
    color: #ededed;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 1px;
    padding-left: 1px;
    width: 100%;
}


/* TicTac button */
.tictac {
    width:115px;
    height:165px;
    background-color:white;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tictacHaut {
    width: 100%;
    height: 65%;
    border: 0;
    border-radius: 27px 27px 0 0;

    display: flex;
}
.tictacHaut img {
    width: 80%;
    margin: auto;
    padding-top: 10%;
}
.tictacBas  {
    width: 100%;
    background-color: #333;
    height: 35%;
    border-radius: 0 0 27px 27px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tictacBas a, a:visited {
    color: #ededed !important;
}

/* Accueil élève */
.TicTacAccueil {
    display: flex;
    justify-content: center;

    margin: 3% 0;
}



@media screen and (min-width: 576px) {
    .logoConnexion {
        width: 75%;
        height: 75%;
    }

}

@media screen and (min-width: 992px) {
    .interaNoteConnexion h2 {
        font-size: 2.75rem;
    }

    .buttonConnexion input {
        padding-top: 9px;
        padding-bottom: 9px;
    }

    .TicTacAccueil {
        margin: 8% 0;
    }
}
